<header>
  {% if page.translation-title %}
    {% assign url_parts = page.url | split: '/' %}
    {% assign iso_code = '/' | append: url_parts[1] | append: '/' %}
    <section class="site-title {% if page.url == iso_code %} home {% endif %}">
      <a href="{{ site.url }}{{ site.baseurl }}{{ iso_code }}">{{ page.translation-title }}</a>
    </section>
  {% elsif site.title %}
    <section class="site-title {% if page.url == '/' %} home {% endif %}">
      <a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
    </section>
  {% endif %}

  {% if site.show_navigation == true %}

    <nav id="site-nav">
      <input type="checkbox" id="show-site-nav"></input><label for="show-site-nav">site menu</label>
      {% include navigation.liquid context="/" %}
    </nav>

  {% endif %}
</header>
